<html>
    <head>
        <meta charset="UTF-8">
        <title>SBUHack Demo</title>
        <!--
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
        -->
        <link rel= "stylesheet" type= "text/css" href= "../static/styles/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
      <script>
        function createMarkers(map, lat, long, fillColor, strokeColor) {
          markers = [];
          len = Math.min(lat.length, long.length)
          for (var i = 0; i < len; i++) {
              markers.push(new google.maps.Marker({position: {lat: lat[i], lng: long[i]}, map: map, icon: {
                  path: google.maps.SymbolPath.CIRCLE,
                  fillColor: fillColor,
                  fillOpacity: 0.5,
                  strokeColor: strokeColor,
                  strokeOpacity: 0.8,
                  strokeWeight: 1,
                  scale: 3
                  }
              }));
          }
          return markers;
        }

        function toggleGroup(type) {
          for (var i = 0; i < markerGroups[type].length; i++) {
            var marker = markerGroups[type][i];
            if (!marker.getVisible()) {
              marker.setVisible(true);
            } else {
              marker.setVisible(false);
            }
          }
        }

        var markerGroups = [];
      </script>
        <div class="wrapper" style = "padding:0px">
            <div class="sidebar" style = "margin:15px">
            <form class="userinput" id="userinput" method="get">
                <div class="search-box">
                        <input type="text" placeholder="Address..." name="address" id="address">
                        <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </form>
                <div class="legend">
                    <h1 class="legend-header">Legend:</h1>
                    <ul>
                        <li class="legend-item">
                            <div class="inline for-switch">
                                <label class="switch">
                                    <input type="checkbox" name="covid_toggle" id="covid_toggle" checked = "true" onchange="toggleGroup('covid')">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="inline name">COVID-19 Heat Map</div>
                            <div class="inline description">
                                <i class="fa fa-question-circle" style="color: rgb(150, 150, 150);">
                                    <span class="tooltiptext">Show COVID-19 Heat Map based on reported cases of virus infection.</span>
                                </i>
                            </div>
                        </li>
                        <li class="legend-item">
                            <div class="inline for-switch">
                                <label class="switch">
                                    <input type="checkbox" name="crime_toggle" id="crime_toggle" onchange="toggleGroup('crime')">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="inline name">Crime Rate Heat Map</div>
                            <div class="inline description">
                                <i class="fa fa-question-circle" style="color: rgb(150, 150, 150);">
                                    <span class="tooltiptext">Show Crime Rate Heat Map based on Police reports and complaints.</span>
                                </i>
                            </div>
                        </li>
                        <li class="legend-item">
                            <div class="inline for-switch">
                                <label class="switch">
                                    <input type="checkbox" name="hospital_toggle" id = "hospital_toggle" onchange="">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="inline name">Hospitals</div>
                            <div class="inline description">
                                <i class="fa fa-question-circle" style="color: rgb(150, 150, 150);">
                                    <span class="tooltiptext">Show Hospitals equiped for COVID-19 treatment</span>
                                </i>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="map" id="main_map"></div>

        <script>
            function initMap() {
                var options = {
                    zoom: 10,
                    center: {lat:40.7128, lng:-73.9060}
                }

                var map = new google.maps.Map(document.getElementById('main_map'), options);

                markerGroups["crime"] = createMarkers( map,
                  {{ crimes["latitudes"]|safe }},
                  {{crimes["longtitudes"]|safe}},
                  '#e45252',
                  '#ce3838',
                );
                toggleGroup('crime');

                markerGroups["covid"] = createMarkers( map,
                  {{ covid["latitudes"]|safe }},
                  {{ covid["longtitudes"]|safe }},
                  '#18db32',
                  '#17f034',
                );

            }
        </script>

        <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDKncgQLNzwyLXrvHW-S4ptv-ahJE8MUOE&callback=initMap">
      </script>

    </body>
</html>
