*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

.search-box{
  height: 50px;
}

.sidebar {
    padding: 15px;
    position: absolute;
    z-index: 1;
    width: 25%;
    background-color:#f7f7f7;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    margin: 15px;
}

.legend h1 {
    margin: 10px;
    font-size: 16px;
    color: rgb(7, 7, 7);
}
.legend ul {
    list-style: none;
}
.legend ul li::before {
    content: "\2022";
    color: transparent;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.logo {
  height : 12em;
  width: 12em;
  position: fixed;
  top: 0%;
  right: 0%;
  border-radius: 15px;
  margin: 15px
}


form.userinput input[type=text] {
    padding: 10px;
    height: 50px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.userinput button {
    float: left;
    height: 50px;
    width: 20%;
    padding: 10px;
    background: hsl(207, 90%, 54%);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.userinput button:hover {
    background: #0b7dda;
}

form.userinput::after {
    content: "";
    clear: both;
    display: table;
}

.sidebar .legend .legend-item {
    max-width: 100%;
    padding-bottom: 20px;
}

.sidebar .legend .legend-item .name {
    padding-left: 10px;
}

.sidebar .legend .legend-item .description {
    padding-left: 10px;
}

.sidebar .legend ul div.inline {
    float:left;
}

.map {
    z-index: 0;
    width: 100%;
    height: 100%;
}

.switch {
    position: relative;
    display: inline-block;
    width: 28px;
    height: 16px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    box-shadow: 0 0 1px #2196F3;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 2px;
    right: 2px;
    bottom: 2px;
    background-color: #2196Fe;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: white;
}

input:focus + .slider {
    background-color: #eeeeee;
}

input:checked + .slider:before {
    -webkit-transform: translateX(12px);
    -ms-transform: translateX(12px);
    transform: translateX(12px);
}

.slider.round {
    border-radius: 10px;
}

.slider.round:before {
    border-radius: 50%;
}
